.carousel-control-prev,
.carousel-control-next {
    padding: 0 !important; /* Remove all padding */
    width: auto; /* Adjust width as necessary */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px;
    height: 30px;
}
.carousel-caption {

    left: 30px !important; /* Adjust this value to control how far from the left the text appears */
    max-width: 500px; /* Optional: Restrict width of the caption */
    padding: 20px; /* Add some padding around the text */
      }

.carousel-caption h5 {
    margin-bottom: 10px; /* Adjust space between the heading and text */
   font-weight: bold;
    font-size: 2rem; /* Adjust font size */
}

.carousel-caption p {
    margin: 0; /* Remove extra space below the paragraph */
    font-size: 14px /* Adjust font size */
}

@media (max-width: 768px) {
    .carousel-caption {
        left: 20px !important; /* Adjust for smaller screens */
        padding: 15px;
    }
}

.carousel-item {
    height: 100%;
    position: relative;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
}

.carousel-item img {
    object-fit: cover;
    opacity: 0.7;
}

.carousel-item.active {
    transform: scale(1);
    opacity: 1;
}

.carousel-item-next,
.carousel-item-prev {
    transform: scale(0.9);
    opacity: 0.5;
}   